<section class="user-input-container">
   <header class="input-container">
    <nav>
      <ul class='links'>
        <li>
        <%= link_to splash_index_path do %>
          <i class="fa fa-arrow-left"></i>
          <% end %>
        <li>
        <li>
          REGISTER
        <li>
        <li class='login'>
          <input type="submit" value='Next' form='form' class='submit'>
        </li>
      </ul>
    </nav>
  </header>
  <section class="form-section">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form', :id => 'form' } ) do |f| %>

  <%= render "users/shared/error_messages", resource: resource %>
  
   <div class="avatar_field">
      <%= f.file_field :avatar %>
    </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "text", placeholder: "Full name" %>
  </div>
    
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
  </div>
  <div class='field'>
    <input type="submit" value='Continue' id='submit-btn'>
  </div>

<% end %>

<%= render "users/shared/links" %>
  </section>
</section>

